@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('./assets/font/ProductSans-Regular.woff') format('woff');
  }

  @font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Light Regular'), url('./assets/font/ProductSans-Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('./assets/font/ProductSans-Medium.woff') format('woff');
  }
 

  @font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold'), url('./assets/font/ProductSans-Bold.woff') format('woff');
  }
 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Product Sans Regular', sans-serif;
}

body{
  overflow: hidden;
}

body.modal-open .wrapper{
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

*::-webkit-scrollbar{
  width: 0.25rem;
  height: 0.25rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(25, 25, 25, .25);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(25, 25, 25, .2);
}

*::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 100%, 0);
}


@layer components {
  .nav-link{
    @apply text-[#808080] text-center items-center self-end gap-1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .nav-link img{
     @apply m-auto h-[18px]
  }

  .nav-link span{
    @apply mt-0.5;
    font-size: 0.6rem;
    width: max-content;
    
  }
  
  .feature-link{
    @apply flex flex-col items-center flex-1;
  }

  .feature-link:hover{
    opacity: 0.75
  }

  .feature-link img{
    @apply h-12 w-12
  }

  .feature-link p{
    @apply mt-1 text-xs
  }

  .transaction-list-item{
    @apply flex justify-between items-center gap-2 py-2 ;
    border-bottom: 1px solid #EBEBEB;
    /* background-color: #F8F8F8; */
  }

  .transaction-list-item:hover{
    @apply bg-hoverBg
  }

  .transaction-list-item img{
    @apply h-8 w-8
  }

  .transaction-list-item-left {
    @apply flex gap-2 items-center
  }

  .transaction-list-item p{
    @apply text-sm
  }

  .transaction-list-item-left p{
    @apply text-xs opacity-75
  }

  .transaction-list-item h3{
    @apply text-sm
  }

  .transaction-list-item-right img{
    @apply h-5 w-5
  }

  .button-1{
    @apply text-xs bg-primary px-3 py-1 rounded-2xl text-white cursor-pointer
  }

  .button-2{
    @apply text-xs bg-secondary px-3 py-1 rounded-2xl text-primary cursor-pointer
  }

  .button-3{
    @apply text-xs px-3 py-1 rounded-full text-primary cursor-pointer;
    border: 1px solid #2469FF;
  }

  .button-2:hover{
    @apply opacity-75
  }

  /* Support */
  .chat-user{
    @apply bg-primary text-white p-3 rounded-xl
  }

  .chat-admin{
    @apply p-3 rounded-xl;
    border: 1px solid #E6E6E6;
  }

  input, textarea, select{
    @apply p-2 rounded-lg h-10;
    border: 1px solid #BFBFBF;
    
  }

  .login input{
    @apply rounded-lg mt-1;
    background: rgba(255, 255, 255, 0.2);
    border: none;
  }

  .button-secondary{
    border: 1px solid #fff;
    
  }


  textarea {
    resize: none;
    min-height: 2rem;
    max-height: 3.25rem;
    line-height: normal;
  }

  .support-bottom-nav{
    min-height: 4.5rem;
    background-color: white;
  }

  /* Profile */
  .profile-icon{
    border: 3px solid #fff;
  }

  .profile-icon img{
    width: 100%;
    height: 100%;
    position: absolute;

  }

  .profile-option{
    @apply flex justify-between items-center gap-2 py-4 ;
    border-bottom: 1px solid #EBEBEB;
  }

  .profile-option:hover{
    @apply bg-hoverBg
  }

 
  select{
    @apply rounded-lg px-2 py-2 h-10;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 98% 50%;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    line-height: 1rem;
  }

  .header{
    @apply fixed w-full h-14 bg-white z-20
  }

  .transaction-details-data{
    @apply flex justify-between gap-2 items-center py-2;
    border-bottom: 1px solid #EBEBEB
  }

  .transaction-details-data p:first-child{
    @apply opacity-75
  }

  .transaction-details-data:last-child{
    @apply pb-0;
    border: none;
  }

  .transaction-details-data:first-child{
    @apply pt-0;
  }

  .modal{
    z-index: 21;

  }

  .modal-overlay{
    background: rgba(49,49,49,.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 21;
  }

  .modal-content{
    z-index: 22;
    @apply bg-white p-4 fixed bottom-0 w-full;
    border-radius: 1rem 1rem 0 0 ;
    max-height: 80vh;
    overflow-y: scroll;
    left: 0;
    right: 0
  }

  table td, table th{
    @apply p-2 text-left text-sm;
    border: 1px solid #ECECEC;
    width: 100%;
    text-wrap: nowrap;

  }

  table th{
    font-family: 'Product Sans Medium Regular';
    font-weight: normal;
  }

  table{
    border-collapse: collapse;
    width: 100%;
  }

  table tr{
  }

  .sticky-td {
    position: sticky;
    right: 0;
    z-index: 10; 
    
  }

  .sticky-td span{
    @apply py-1 px-2 rounded bg-white shadow-sm text-[#7F7F7F];
    border: 1px solid #ECECEC;
  }

  
}

.summary-1{
  background: rgb(235,245,254);
background: linear-gradient(0deg, rgba(235,245,254,1) 0%, rgba(240,250,246,1) 100%);   
}

.summary-2{
  background: rgb(235,245,254);
background: linear-gradient(0deg, rgba(235,245,254,1) 0%, rgba(235,241,255,1) 100%);
}

.summary-3{
  background: rgb(254,235,255);
background: linear-gradient(0deg, rgba(254,235,255,1) 0%, rgba(247,235,255,1) 100%);
}

.summary-4{
  background: rgb(255,249,235);
background: linear-gradient(0deg, rgba(255,249,235,1) 0%, rgba(253,237,236,1) 100%);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input, select, textarea {
      font-size: 16px;
  }

}



* input:focus, button:focus, select:focus, textarea:focus {
  outline: none;
  border: 1px solid #2469FF;
}

.text-bold{
  font-family: 'Product Sans Medium Regular';
}

.wrapper{
  height: calc(100vh - 4.5rem);
  overflow-y: scroll;
  background: #fff;
}

.full-screen{
  z-index: 12;
  position: relative;
  height: calc(100vh - 4.5rem);
  overflow: hidden;;
}

.full-screen-100{
  height: 100vh;
  z-index: 16;
  position: relative;
  /* overflow: hidden; */
  padding-bottom: 8rem;
}

.main-content{
  height: calc(100vh - 9rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.gradient-bg{
  background: rgb(25,141,249);
background: linear-gradient(0deg, rgba(25,141,249,1) 0%, rgba(135,136,239,1) 100%);
}

.gradient-bg-2{
  background: rgb(25,141,249);
background: linear-gradient(0deg, #BD33FF 0%, #0051FF 70%);
}

.nav-container{
  box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.2);
}

.nav-link-loan div{
  border: 4px solid #CCDCFF;
}

.nav-link-loan img{
  width: 32px;
  height: 32px;
  margin: auto;
  padding: 2px;
  opacity: 1;
  filter: none;
}

.nav-link.active{
  color: #0051FF;
}

.nav-link.active img{
  opacity: 1;
  filter: none;
}

.border-bottom-opacity-50{
  border-bottom: 1px solid #9EC4FA;
}


.container-with-label label{
  opacity: 0.75;
}